<div style="width: 100%;display: flex; padding: 10px;">
  
  <div style="width: 50%;">
<button mat-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button></div>
<div style="width: 30%;">
  <h1>
    {{ show?.name }}
  </h1></div>
</div>
<div class="default-padding">
  <div style="padding: 5px; display:flex;gap:20px;">
    <div style="width: 40%;"> 
    <img mat-card-image [src]="show?.image?.original" style="width: 80%" alt="{{ show?.name }}" />
    </div>
    <div>
      <mat-card>
      <mat-card-header>
        <mat-card-title>Trailer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <youtube-player
          [videoId]="videoId()"
          height="100%"
          width="100%"
          (ready)="onReady($event)"
          (stateChange)="onStateChange($event)"
        ></youtube-player>
      </mat-card-content>
    </mat-card>
    </div>
      <div style="width: 80%;">
        <app-review-component [showId]="showId()"></app-review-component>
  </div>
  </div>

  <div>
  
    <div>
      <h2>Genres</h2>

      <mat-chip-set aria-label="Genre">
        @for (genre of show?.genres; track $index) {
        <mat-chip>{{ genre }}</mat-chip>
        }
      </mat-chip-set>
    </div>
  </div>
   @if (rating) { Rating:
 <app-star-rating [rating]="rating"></app-star-rating> 
  
    }

   

 <mat-tab-group >
        <mat-tab label="Summary">  <div [innerHTML]="show?.summary" class="default-padding"></div> </mat-tab>
        <mat-tab label="Cast"> <app-cast [showId]="showId()"></app-cast></mat-tab>

     @if (showId() > 0) {
          <mat-tab label="Seasons"><app-seasons [showId]="showId()"></app-seasons></mat-tab>

           
    }
</mat-tab-group>

</div>

