<mat-toolbar color="primary">
  <mat-toolbar-row style="justify-content: center">
    <span>Tv Shows</span>
  </mat-toolbar-row>
</mat-toolbar>

<div style="
 display: flex;
  justify-content: center;
  align-items: center;">
  <form [formGroup]="searchForm">
    <mat-form-field style=" width: 35vw; padding: 10px 10px">

      <input matInput id="query" name="query" formControlName="query" placeholder="search shows" />
    </mat-form-field>

    <button (click)="search()" mat-icon-button style="
 height: 56px;
  width: 56px;padding: 10px 10px;
">
      <mat-icon>search</mat-icon>
    </button>
  </form>

</div>

@if (searching()) {
<mat-progress-spinner mode="indeterminate" class="center-screen"></mat-progress-spinner>
}

<div class="container">
  @for (show of shows(); track show.show.id) {
  <mat-card (click)="details(show.show.id)" class="card">
    <mat-card-header>
      <mat-card-title>{{ show.show.name }}</mat-card-title>
      <mat-card-subtitle>
        @if (show.show.rating.average) {
        <app-star-rating [rating]="show.show.rating.average"></app-star-rating>
        }@else{
        <span>Unrated</span>
        }
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      @if (show?.show?.image?.medium) {
      <img mat-card-image [src]="show?.show?.image?.medium" class="full-width" alt="{{ show?.show?.name }}" />

      }@else{
      <img mat-card-image src="default_card_image.png" class="full-width" alt="Placeholder" />

      }
    </mat-card-content>
    <mat-card-footer>
      <div class="default-padding">Genre:
        @if (show.show.genres.length) {
        {{ show.show.genres.join(', ') }}
        }@else{
        <span>NA</span>
        }
      </div>

    </mat-card-footer>
  </mat-card>

  }

</div>